body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	display: inline-block;
}

h1 {
	text-align: center;
}

button {
	background: none;
	border: none;
}

.button {
	padding: 10px;
}

.button-main {
	background: #1a73e8;
	color: #fff;
}
